body{
    font-family: 'Amatic SC', cursive;
}

button{
    text-align: center;;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 25px;
    background-color: #e2dd96;
    box-shadow: 0 4px #999;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#startButton{
    display: none;
}

#tipp1{

    display: none;
}

#tipp2{

    display: none;
}

#warning{
    display: none;
}

#pauseIcon{
    width: 5%;
    display: none;
    cursor: pointer;
    margin-left: 88%;
}

#playIcon{
    width: 88%;
    display: none;
    cursor: pointer;

}
#loadButton{
    width: 5%;
    display: none;
    cursor: pointer;
}

#logo{
    display: block;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
 
    transition: opacity 4s;

    width: 50%;
    height: 50%;
}

.hidden {
    opacity: 0.0;   
}