body {
    background-color: #bcd881;
    font-family: 'Source Code Pro', monospace, 'Courier New', Courier;
    font-size: 1.3em;
}

/* Background */

.block_1 {
    background: url(Assets/background.png) repeat 0, 0;
    display: flex;
}

.block_1:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    z-index: 0;
    background: linear-gradient(to left, #b38c6886, #bcd88186);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Content */

.main {
    color:#000000;
    z-index:1;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: justify;
    max-height: fit-content;

}

.logo {
    padding: 2% 20% 2% 20%;
}

.idea {
    display: block;
}

.concept {
    display: none;
}

.prototyp {
    display: none;
}

.pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0%;
    width: 85%;
}

a {
    color: #f6f6ca;
    text-decoration: none;
}

a:visited {
    color: #c9691b;
    text-decoration: none;
}

#atmo {
    position: absolute;
    padding-top: 2.2%;
    width: 85%;
}

#speakerLeft_i {
    position: relative;
    width: 12%;
    top: 2px;
    cursor: pointer;
}

#speakerRight_i {
    position: relative;
    width: 12%;
    top: 2px;
    left: 73%;
    transform: rotate(180deg);
    cursor: pointer;
}

#speakerLeft_c {
    position: relative;
    width: 12%;
    top: 2px;
    cursor: pointer;
}

#speakerRight_c {
    position: relative;
    width: 12%;
    top: 2px;
    left: 73%;
    transform: rotate(180deg);
    cursor: pointer;
}

#youDecide {
    width: 50%;
}

#end {
    position: absolute;
    font-size: medium;
}

#grundaufbau {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0%;
    width: 50%;
}

button {
    text-align: center;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 25px;
    background-color: #e2dd96;
    box-shadow: 0 4px #999;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.mainButtons {
    display: inline-block;
    margin: 2% 2% 0% 2%;
}

.reiter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0% 7.4% 2% 7.4%;
    width: 85%;
    margin-top: 4%;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #c8d881;
    border: 2px solid #a07d3b;
    border-radius: 10px;
  }